@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none !important;
    text-decoration: none !important;
}

:root {
    /* font-size */
    --fs-4xl: 64px;
    --fs-3xl: 48px;
    --fs-2xl: 36px;
    --fs-xl: 24px;
    --fs-lg: 16px;
    --fs-md: 14px;
    --fs-sm: 12px;
    /* colors */
    --purple: #2C49FE;
    --sky-blue: #01C8FF;
    --black: #000;
    --white: #FFF;
    --gry: #00000033;
    --blue: rgba(45, 60, 174, 0.53);
}

/* ======================nav================== */
.logo {
    color: var(--purple);
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-2xl);
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
}

.logo1 {
    color: var(--sky-blue);
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-2xl);
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
}

.links {
    color: var(--white);
    font-family: 'Poppins',
        sans-serif;
    font-size: var(--fs-lg);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navbtn {
    color: var(--white);
    font-family: 'Poppins',
        sans-serif;
    font-size: var(--fs-lg);
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    border-radius: 23px;
    background: #2C49FE;
    padding: 11px 28px;
    border: transparent;
}

.py-17 {
    padding-top: 17px;
    padding-bottom: 17px;
}

.menulist.show {
    right: 0 !important;
}

@media (max-width:992px) {
    .overFlowHidden {
        overflow: hidden;
    }

    .menulist {
        height: 100%;
        width: 100%;
        background-color: var(--black);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        transition: all 200ms linear;
        z-index: 1;
        padding-left: 0;
    }

    .menuIcon {
        height: 30px;
        width: 30px;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        cursor: pointer;
        z-index: 2;
    }

    .menuIcon>span {
        width: 100%;
        height: 4px;
        background-color: var(--white);
    }

    ul.menulist.show {
        right: 0;
    }
}

/*--======================header===================--*/
.bg-image {
    background-image: url(../images/hero-bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text1 {
    color: var(--white);
    font-family: ' Poppins', sans-serif;
    font-size: var(--fs-lg);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-top: 131px;
}

.text-1 {
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-4xl);
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding-bottom: 51px;
}

/*======================section===============*/
.heading2 {
    color: var(--black);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-3xl);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 70px;
}

.card2 {
    margin-top: 30px;
    border-radius: 30px;
    background: var(--white);
    border: 1px solid var(--gry);
}

.card2:hover {
    border: none;
    box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.10);
}

.text2 {
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-xl);
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding-top: 18px;
}

.btn2 {
    color: var(--white);
    font-family: ' Poppins', sans-serif;
    font-size: var(--fs-lg);
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    border-radius: 23px;
    background: var(--purple);
    padding: 11px 28px;
    border: none;
    margin-top: 32px;
}

.about {
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-lg);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.underline {
    position: relative;
}

.underline::after {
    content: "";
    width: 70%;
    height: 8px;
    position: absolute;
    top: -9px;
    left: 0;
    background: var(--purple);
}

.underline::before {
    content: "";
    width: 30%;
    height: 8px;
    position: absolute;
    top: -9px;
    right: 24px;
    background: var(--sky-blue);
    z-index: -1;
}

/*===================footer==================*/
.cursor-pointer {
    cursor: pointer;
}

.footer-text {
    max-width: 346px;
    color: var(--white);
    font-family: 'Poppins',
        sans-serif;
    font-size: var(--fs-md);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-svg {
    transition: all 300ms linear;
}

.footer-svg:hover {
    transform: translateY(-16%);
}

.l-heading {
    color: var(--white);
    font-family: 'Poppins',
        sans-serif;
    font-size: var(--fs-md);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
}

.link {
    color: var(--white);
    font-family: 'Poppins',
        sans-serif;
    font-size: var(--fs-sm);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.show-me-box {
    background: var(--blue);
    height: 100%;
}

.l-show {
    text-align: center;
    max-width: 43px;
    color: var(--white);
    text-align: center;
    font-family: 'Poppins',
        sans-serif;
    font-size: var(--fs-sm);
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.last-t {
    color: var(--white);
    font-family: 'Poppins',
        sans-serif;
    font-size: var(--fs-md);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pt-50 {
    padding-top: 50px;
}

.mt-30 {
    margin-top: 30px;
}

/*===============@media-querrys================== */


@media (max-width:576px) {
    :root {
        --fs-4xl: 44px;
        --fs-3xl: 28px;
        --fs-2xl: 20px;
        --fs-xl: 24px;
        --fs-lg: 16px;
        --fs-md: 14px;
        --fs-sm: 12px;
    }
}